/* -------- Primary Colors -------- */

$blue-100: #69c7f5;
$blue-200: #2eaeef;
$blue-300: #008cd2; //Sysco Blue
$blue-400: #00699e;
$blue-500: #00476b;

/* ---------------- */

/* -------- Accent Colors -------- */

$green-100: #95d18a;
$green-200: #73c265;
$green-300: #56b146; //Sysco Green
$green-400: #438b37;
$green-500: #326628;

$green-bright: #46ca40;

/* ---------------- */

/* -------- Neutral Colors -------- */

//Light Shade
$neutral-0: #ffffff; //Pure White
$neutral-30: #f7f7f7;
$neutral-80: #ededed;
$neutral-100: #e6e6e6;
$neutral-200: #cccccc;
$neutral-300: #b3b3b3;
$neutral-400: #999999;

//Dark Shade
$neutral-500: #808080;
$neutral-600: #666666;
$neutral-700: #4c4c4c;
$neutral-800: #333333;
$neutral-900: #1a1a1a;
$neutral-930: #121212;
$neutral-1000: #1d1d1d; //Pure Black

/* ---------------- */

/* Semantic Colors */

$semantic-red: #fb3333;
$semantic-orange: #ff7f2b;
$semantic-yelow: #ffc92b;
$semantic-green: #2ccd52;
$semantic-blue: #34a7fe;

/* ---------------- */

/* Other Colors */

$magenta: #af5af2;
$pink: #f758f1;

/* ---------------- */

/* Gradients */
$blue-gradient: linear-gradient(135deg, #008cd2 0%, #5fbeee 100%);

/* Primary Color */
$primary-clr: #00b2ff;
